.view {
  margin: 5vh auto;
  max-width: 600px;
}

.title {
  text-align: center;
}

.error {
  text-align: center;
  color: red;
  margin: 10vh 0;
}

.display {
  padding-bottom: 3rem;
  justify-content: space-around;
  &__box {
    text-align: center;
    margin-bottom: 2rem;
    border: 1px solid #818181;
    box-shadow: 0px 2px 4px #818181;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    & p {
      margin-bottom: 0.5rem;
    }
  }
}

.footer {
  padding-top: 10vh;
  align-self: flex-start;
  & a {
    color: black;
  }
}